<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/images/trophy.svg" />
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="stylesheet" href="/styles/header.css" />
        <link rel="stylesheet" href="/styles/competitions.css" />
        <title><%= title %></title>
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <h1>Natjecanja</h1>
        <div class="wrapper">
            <% if(competitions.length == 0) { %>
            <p class="no-competitions">
                Trenutno nemate stvorenih natjecanja. Natjecanje možete stvoriti
                <a href="/">ovdje</a>.
            </p>
            <% } else { %> <% for(competition of competitions) { %>
            <div class="competition">
                <div class="name-section">
                    <label for="competitionName"
                        >Stvoreno: <%= `${new
                        Date(competition.created_at).getDate()}.${new
                        Date(competition.created_at).getMonth() + 1}.${new
                        Date(competition.created_at).getFullYear()}. ${new
                        Date(competition.created_at).getHours()}:${new
                        Date(competition.created_at).getMinutes()}` %></label
                    >
                    <h3 name="competitionName">
                        <%= competition.competition_name %>
                    </h3>
                </div>
                <div class="button-section">
                    <div class="links-container">
                        <a
                            href="/competitions/<%=competition.competition_id%>"
                            title="Upravljanje natjecanjem"
                            >Upravljanje</a
                        >
                        <a
                            href="/competitions/leaderboard/<%=competition.competition_id%>"
                            title="Poredak na natjecanju"
                            >Poredak</a
                        >
                    </div>
                    <form
                        action="/competitions/delete/<%=competition.competition_id%>"
                        method="post"
                    >
                        <button
                            type="submit"
                            id="deleteButton"
                            title="Brisanje natjecanja"
                        >
                            <img src="/images/bin.svg" alt="delete" />
                        </button>
                    </form>
                </div>
            </div>
            <% } %> <% } %>
        </div>
    </body>
</html>
