<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="styles/global.css" />
        <link rel="stylesheet" href="styles/header.css" />
        <link rel="stylesheet" href="styles/index.css" />
        <link rel="icon" type="image/x-icon" href="../images/trophy.svg" />
    </head>
    <body>
        <%- include('./partials/header.ejs') %> <% if(!user) { %>
        <div class="home-wrapper"><%- include('./partials/welcome.ejs') %></div>
        <% } else { %>
        <div class="form-wrapper">
            <%- include('./partials/newCompetitionForm.ejs') %> <% if(error) {
            %>
            <p class="error"><%= error %></p>
            <% } else if(success) { %>
            <p class="success"><%= success %></p>
            <% } %> <% } %>
        </div>
    </body>
</html>
