<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/styles/global.css" type="text/css"/>
        <link rel="stylesheet" href="/styles/header.css" type="text/css"/>
        <link rel="stylesheet" href="/styles/leaderboard.css" type="text/css"/>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <h1><%= competition.competition_name %></h1>
        <div class="wrapper">
            <a target="_blank" class="public-url" href="/public/competitions/leaderboard/<%=competition.competition_id%>"><%=publicUrl%>/public/competitions/leaderboard/<%=competition.competition_id%></a>
            <a class="competition-button" href="/competitions/<%=competition.competition_id%>" title="Upravljanje natjecanjem">Upravljanje</a>
            <h2>Poredak</h2>
            <table>
                <tr class="heading">
                    <th class="bottom-border right-border">Pozicija</th>
                    <th class="bottom-border right-border">Natjecatelj</th>
                    <th class="bottom-border">Bodovi</th>
                </tr>
                <% for(let i = 0; i < competitors.length; i++) { %>
                <tr <% if(i % 2 == 1) { %>class="odd"<% } %>>
                    <td <% if(i < competitors.length - 1) { %>
                        class="bottom-border right-border"<% } else {
                        %>class="right-border"<% } %>><%=i + 1%>.
                    </td>
                    <td <% if(i < competitors.length - 1) { %>
                        class="bottom-border right-border"<% } else {
                        %>class="right-border"<% } %>><%=
                        competitors[i].competitor_name %>
                    </td>
                    <td <% if(i < competitors.length - 1) { %>
                        class="bottom-border"<% } %>><%= competitors[i].points
                        %>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    </body>
</html>
