<form action="" method="post">
    <h2>Novo natjecanje</h2>
    <div class="competition-name">
        <label for="competitionName">Naziv natjecanja</label>
        <input
            type="text"
            name="competitionName"
            placeholder="Naziv natjecanja"
            value="<%= data?.competitionName || '' %>"
            required
            title="Naziv natjecanja"
        />
    </div>
    <div class="competitors">
        <label for="competitors">Natjecatelji</label>
        <textarea
            name="competitors"
            placeholder="Natjecatelji (Moguće je unijeti 4, 6 ili 8 natjecatelja odvojenih znakom ; ili novim redom)"
            required
            title="Natjecatelji"
        >
<%= data?.competitors || '' %></textarea
        >
    </div>
    <div class="scoring-system">
        <label for="scoringSystem">Sustav bodovanja</label>
        <div class="scoring-inputs">
            <div>
                <label for="win">Pobjeda</label>
                <input
                    type="number"
                    name="win"
                    value="<%= data?.win || '0' %>"
                    required
                    title="Bodovanje pobjede"
                />
            </div>
            <div>
                <label for="draw">Remi</label>
                <input
                    type="number"
                    name="draw"
                    value="<%= data?.draw || '0' %>"
                    required
                    title="Bodovanje remija"
                />
            </div>
            <div>
                <label for="">Poraz</label>
                <input
                    type="number"
                    name="loss"
                    value="<%= data?.loss || '0' %>"
                    required
                    title="Bodovanje poraza"
                />
            </div>
        </div>
    </div>
    <button type="submit" title="Stvori">Stvori</button>
</form>
